@model Web.UI.Models.Coupon

@{
    ViewData["Title"] = "DeleteCoupon";
}

<div class="container" style="padding:5%;">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header text-center">
            <h2>Delete Coupon</h2>
        </div>
        <div class="card-body">
            <h3 class="text-center">Are you sure you want to delete this?</h3>
            <div class="pt-3">
                <h4>Coupon Details</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.CouponId) </dt>
                    <dd class="col-sm-9"> @Html.DisplayFor(model => model.CouponId) </dd>

                    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.CouponCode) </dt>
                    <dd class="col-sm-9"> @Html.DisplayFor(model => model.CouponCode) </dd>

                    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.DiscountAmount) </dt>
                    <dd class="col-sm-9"> @Html.DisplayFor(model => model.DiscountAmount) </dd>

                    <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.MinAmount) </dt>
                    <dd class="col-sm-9"> @Html.DisplayFor(model => model.MinAmount) </dd>
                </dl>
            </div>

            <div class="d-flex justify-content-center pt-3">
                    <button type="submit" class="btn btn-lg btn-danger me-2" asp-action="DeleteConform" asp-route-CouponId="@Model?.CouponId">Delete</button>
                    <a class="btn btn-lg btn-secondary" asp-action="CouponIndex">Back to List</a>
            </div>
        </div>
    </div>
</div>
