@model Web.UI.Models.Product

<div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
    <div class="p-0 my-3 border rounded" style="max-width: 350px;">
        <div class="card h-100">
            <h3 class="card-title bg-primary text-white text-center py-2">@Model.Name</h3>
            <img src="/Images/@Model.ImageUrl" class="card-img-top" style="height: auto; width: 100%; max-height: 350px; object-fit: cover;" />

            <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between py-2">
                    <span class="text-danger" style="font-size:20px;">@string.Format("{0:c}", @Model.Price)</span>
                    <span class="badge bg-warning text-dark p-2">@Model.CategoryName</span>
                </div>
                <p class="card-text flex-grow-1">@Model.Description</p>
                <div class="mt-auto">
                    <a class="btn btn-success w-100" asp-action="ProductDetails" asp-controller="Home" asp-route-ProductId="@Model.ProductId">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
